*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 50px;
}
header{
    color: red;
    background-color: aqua;
    padding: 100px;
    text-align: center;
}
main{
    background-color: pink;
    text-align: center;
    padding: 100px;
}

footer{
    padding: 75px;
    background-color: blueviolet;
    color: white;
    text-align: center;
}